<a href="https://colab.research.google.com/github/vitorsanp/dsprojects/blob/SandboxProjects/SandBox_LightGBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#libraries basic
import os
import time
import re

#others
import numpy as np
import pandas as pd
from sklearn.metrics import log_loss
from sklearn.model_selection import train_test_split

#lightgbm
import lightgbm as lgb

In [ ]:
###STE 0.3 DATA LOAD
#%%time
TARGET_NAME = 'target'

train_data = pd.read_csv('/content/drive/My Drive/Colab datasets/AutoML/train.csv')
train_data[TARGET_NAME] = train_data[TARGET_NAME].str.slice(start=6).astype(int) - 1
train_data.head()

   id  feat_1  feat_2  feat_3  ...  feat_91  feat_92  feat_93  target
0   1       1       0       0  ...        0        0        0       0
1   2       0       0       0  ...        0        0        0       0
2   3       0       0       0  ...        0        0        0       0
3   4       1       0       0  ...        0        0        0       0
4   5       0       0       0  ...        0        0        0       0

[5 rows x 95 columns]

In [ ]:
test_data = pd.read_csv('/content/drive/My Drive/Colab datasets/AutoML/test.csv')
test_data.head(1)

   id  feat_1  feat_2  feat_3  ...  feat_90  feat_91  feat_92  feat_93
0   1       0       0       0  ...        0        0        0        0

[1 rows x 94 columns]

In [ ]:
submission = pd.read_csv('/content/drive/My Drive/Colab datasets/AutoML/sampleSubmission.csv')
submission.head()

   id  Class_1  Class_2  Class_3  ...  Class_6  Class_7  Class_8  Class_9
0   1        1        0        0  ...        0        0        0        0
1   2        1        0        0  ...        0        0        0        0
2   3        1        0        0  ...        0        0        0        0
3   4        1        0        0  ...        0        0        0        0
4   5        1        0        0  ...        0        0        0        0

[5 rows x 10 columns]

In [ ]:
###Step 0.5 Add new features

def create_gr_feats(data):
  pass

all_df = pd.concat([train_data, test_data]).reset_index(drop = True)
create_gr_feats(all_df)
train_data, test_data = all_df[:len(train_data)], all_df[len(train_data):]
print(train_data.shape, test_data.shape)

(61878, 95) (144368, 95)

#LIGHTGBM PRESET USAGE

In [ ]:
#!pip install scikit-optimize

In [ ]:
from sklearn.model_selection import KFold
from sklearn.metrics import log_loss
from sklearn.neighbors import KNeighborsClassifier

from sklearn.feature_selection import SelectKBest

In [ ]:
remove = ['id', TARGET_NAME]

X = train_data.drop(remove, axis=1)
y = train_data[TARGET_NAME]

Xtrain, Xval, ytrain, yval = train_test_split(X, y, test_size = 0.5, random_state = 0)

model = lgb.LGBMClassifier(n_estimators=100,
                           learning_rate=0.05,
                           max_depth=6,
                           subsample=0.8,
                           colsample_bytree=0.8,
                           random_state=9)
model.fit(Xtrain, ytrain)

res = dict()
for col in X.columns:
  Xval_ = Xval.copy()
  Xval_[col] = np.random.permutation(Xval_[col])

  p = model.predict_proba(Xval_)
  ll = log_loss(yval, p)
  res[col] = ll
  print("Feature: {} | LL: {:.4f} | LL Delta: {:.4f}".format(col, ll, 1 - ll))

Feature: feat_1 | LL: 0.6369 | LL Delta: 0.3631
Feature: feat_2 | LL: 0.6343 | LL Delta: 0.3657
Feature: feat_3 | LL: 0.6363 | LL Delta: 0.3637
Feature: feat_4 | LL: 0.6351 | LL Delta: 0.3649
Feature: feat_5 | LL: 0.6340 | LL Delta: 0.3660
Feature: feat_6 | LL: 0.6339 | LL Delta: 0.3661
Feature: feat_7 | LL: 0.6363 | LL Delta: 0.3637
Feature: feat_8 | LL: 0.6405 | LL Delta: 0.3595
Feature: feat_9 | LL: 0.6582 | LL Delta: 0.3418
Feature: feat_10 | LL: 0.6343 | LL Delta: 0.3657
Feature: feat_11 | LL: 0.7984 | LL Delta: 0.2016
Feature: feat_12 | LL: 0.6339 | LL Delta: 0.3661
Feature: feat_13 | LL: 0.6355 | LL Delta: 0.3645
Feature: feat_14 | LL: 0.6755 | LL Delta: 0.3245
Feature: feat_15 | LL: 0.6762 | LL Delta: 0.3238
Feature: feat_16 | LL: 0.6401 | LL Delta: 0.3599
Feature: feat_17 | LL: 0.6475 | LL Delta: 0.3525
Feature: feat_18 | LL: 0.6352 | LL Delta: 0.3648
Feature: feat_19 | LL: 0.6364 | LL Delta: 0.3636
Feature: feat_20 | LL: 0.6349 | LL Delta: 0.3651
Feature: feat_21 | LL: 0.6340 | LL Delta: 0.3660
Feature: feat_22 | LL: 0.6341 | LL Delta: 0.3659
Feature: feat_23 | LL: 0.6383 | LL Delta: 0.3617
Feature: feat_24 | LL: 0.6467 | LL Delta: 0.3533
Feature: feat_25 | LL: 0.6605 | LL Delta: 0.3395
Feature: feat_26 | LL: 0.6717 | LL Delta: 0.3283
Feature: feat_27 | LL: 0.6349 | LL Delta: 0.3651
Feature: feat_28 | LL: 0.6341 | LL Delta: 0.3659
Feature: feat_29 | LL: 0.6364 | LL Delta: 0.3636
Feature: feat_30 | LL: 0.6410 | LL Delta: 0.3590
Feature: feat_31 | LL: 0.6340 | LL Delta: 0.3660
Feature: feat_32 | LL: 0.6415 | LL Delta: 0.3585
Feature: feat_33 | LL: 0.6370 | LL Delta: 0.3630
Feature: feat_34 | LL: 0.7990 | LL Delta: 0.2010
Feature: feat_35 | LL: 0.6447 | LL Delta: 0.3553
Feature: feat_36 | LL: 0.6548 | LL Delta: 0.3452
Feature: feat_37 | LL: 0.6356 | LL Delta: 0.3644
Feature: feat_38 | LL: 0.6369 | LL Delta: 0.3631
Feature: feat_39 | LL: 0.6577 | LL Delta: 0.3423
Feature: feat_40 | LL: 0.6752 | LL Delta: 0.3248
Feature: feat_41 | LL: 0.6405 | LL Delta: 0.3595
Feature: feat_42 | LL: 0.6809 | LL Delta: 0.3191
Feature: feat_43 | LL: 0.6562 | LL Delta: 0.3438
Feature: feat_44 | LL: 0.6347 | LL Delta: 0.3653
Feature: feat_45 | LL: 0.6365 | LL Delta: 0.3635
Feature: feat_46 | LL: 0.6342 | LL Delta: 0.3658
Feature: feat_47 | LL: 0.6443 | LL Delta: 0.3557
Feature: feat_48 | LL: 0.6474 | LL Delta: 0.3526
Feature: feat_49 | LL: 0.6348 | LL Delta: 0.3652
Feature: feat_50 | LL: 0.6454 | LL Delta: 0.3546
Feature: feat_51 | LL: 0.6341 | LL Delta: 0.3659
Feature: feat_52 | LL: 0.6342 | LL Delta: 0.3658
Feature: feat_53 | LL: 0.6449 | LL Delta: 0.3551
Feature: feat_54 | LL: 0.6371 | LL Delta: 0.3629
Feature: feat_55 | LL: 0.6363 | LL Delta: 0.3637
Feature: feat_56 | LL: 0.6440 | LL Delta: 0.3560
Feature: feat_57 | LL: 0.6457 | LL Delta: 0.3543
Feature: feat_58 | LL: 0.6391 | LL Delta: 0.3609
Feature: feat_59 | LL: 0.6463 | LL Delta: 0.3537
Feature: feat_60 | LL: 0.7317 | LL Delta: 0.2683
Feature: feat_61 | LL: 0.6346 | LL Delta: 0.3654
Feature: feat_62 | LL: 0.6592 | LL Delta: 0.3408
Feature: feat_63 | LL: 0.6340 | LL Delta: 0.3660
Feature: feat_64 | LL: 0.6440 | LL Delta: 0.3560
Feature: feat_65 | LL: 0.6340 | LL Delta: 0.3660
Feature: feat_66 | LL: 0.6359 | LL Delta: 0.3641
Feature: feat_67 | LL: 0.6745 | LL Delta: 0.3255
Feature: feat_68 | LL: 0.6555 | LL Delta: 0.3445
Feature: feat_69 | LL: 0.6519 | LL Delta: 0.3481
Feature: feat_70 | LL: 0.6348 | LL Delta: 0.3652
Feature: feat_71 | LL: 0.6380 | LL Delta: 0.3620
Feature: feat_72 | LL: 0.6444 | LL Delta: 0.3556
Feature: feat_73 | LL: 0.6347 | LL Delta: 0.3653
Feature: feat_74 | LL: 0.6345 | LL Delta: 0.3655
Feature: feat_75 | LL: 0.6664 | LL Delta: 0.3336
Feature: feat_76 | LL: 0.6388 | LL Delta: 0.3612
Feature: feat_77 | LL: 0.6375 | LL Delta: 0.3625
Feature: feat_78 | LL: 0.6423 | LL Delta: 0.3577
Feature: feat_79 | LL: 0.6373 | LL Delta: 0.3627
Feature: feat_80 | LL: 0.6351 | LL Delta: 0.3649
Feature: feat_81 | LL: 0.6343 | LL Delta: 0.3657
Feature: feat_82 | LL: 0.6339 | LL Delta: 0.3661
Feature: feat_83 | LL: 0.6381 | LL Delta: 0.3619
Feature: feat_84 | LL: 0.6354 | LL Delta: 0.3646
Feature: feat_85 | LL: 0.6379 | LL Delta: 0.3621
Feature: feat_86 | LL: 0.6633 | LL Delta: 0.3367
Feature: feat_87 | LL: 0.6351 | LL Delta: 0.3649
Feature: feat_88 | LL: 0.6454 | LL Delta: 0.3546
Feature: feat_89 | LL: 0.6347 | LL Delta: 0.3653
Feature: feat_90 | LL: 0.6709 | LL Delta: 0.3291
Feature: feat_91 | LL: 0.6431 | LL Delta: 0.3569
Feature: feat_92 | LL: 0.6439 | LL Delta: 0.3561
Feature: feat_93 | LL: 0.6348 | LL Delta: 0.3652

In [ ]:
fimp_perm = (1 - pd.Series(res)).sort_values() * -1

In [ ]:
fimp_lgbm = pd.Series(model.feature_importances_, index=X.columns).sort_values(ascending=False)

In [ ]:
fimps = pd.DataFrame({"fimp_perm": fimp_perm, "fimp_lgbm": fimp_lgbm})#.corr()
fimps.corr()

           fimp_perm  fimp_lgbm
fimp_perm    1.00000    0.58508
fimp_lgbm    0.58508    1.00000

In [ ]:
fimps_rank = fimps.rank(ascending=False).sort_values("fimp_perm")

In [ ]:
fimps_rank.mean(axis=1).sort_values().head(20)

feat_60     3.0
feat_40     4.5
feat_67     4.5
feat_15     5.0
feat_34     6.5
feat_14     7.0
feat_42     7.5
feat_11     9.0
feat_25    10.0
feat_43    10.5
feat_86    10.5
feat_9     12.5
feat_62    13.5
feat_75    14.0
feat_24    14.5
feat_26    15.0
feat_48    18.0
feat_39    21.5
feat_36    22.0
feat_88    22.5
dtype: float64

In [ ]:
%%time

Xtest = test_data.drop(remove, axis=1)
test_pred = model.predict_proba(Xtest)
print("Prediction for test data:\n{}\nShape = {}".format(test_pred[:10], test_pred.shape))

Prediction for test data:
[[3.74647080e-03 3.30963587e-01 1.94745449e-01 4.00645669e-01
  2.47479330e-03 2.51093446e-02 1.95746620e-02 1.40913130e-02
  8.64871115e-03]
 [3.08583491e-02 1.60216826e-01 6.80704663e-02 2.03639915e-02
  7.29336246e-03 5.83763283e-01 1.55318149e-02 9.67701679e-02
  1.71317395e-02]
 [1.92989444e-03 5.22330718e-03 3.44205267e-03 2.34429347e-03
  7.12354682e-04 9.61788911e-01 2.41414428e-03 1.90663332e-02
  3.07870890e-03]
 [8.01388138e-03 4.84241330e-01 3.46338029e-01 5.93486120e-02
  3.62197307e-03 2.73119778e-02 8.15009362e-03 1.79258629e-02
  4.50482407e-02]
 [5.12714208e-02 1.62607160e-02 1.04403103e-02 3.65038637e-03
  4.17121649e-03 2.46314965e-02 1.33430752e-02 2.36576355e-01
  6.39655023e-01]
 [4.48816448e-03 2.81255830e-01 6.56918132e-01 3.69394354e-03
  2.38563388e-03 2.15930133e-02 7.22775914e-03 1.58740308e-02
  6.56349280e-03]
 [8.22947241e-03 2.02011580e-02 1.34001557e-02 1.81803402e-02
  1.39613840e-03 1.71511925e-02 5.61962481e-02 8.54135801e-01
  1.11094937e-02]
 [7.32885654e-03 7.27827460e-01 1.31687990e-01 8.76282541e-02
  2.45880827e-03 1.36263528e-02 9.77852412e-03 1.22813630e-02
  7.38239102e-03]
 [4.87511639e-03 4.19146342e-01 4.47565505e-01 6.10746745e-02
  3.19130153e-03 1.82347052e-02 2.01780310e-02 1.61988697e-02
  9.53545477e-03]
 [8.89214556e-02 4.61139947e-01 8.59318939e-02 7.24225239e-03
  8.63420274e-03 4.20094025e-02 1.76808292e-02 2.68494003e-01
  1.99460135e-02]]
Shape = (144368, 9)
CPU times: user 9.97 s, sys: 39.7 ms, total: 10 s
Wall time: 5.23 s

In [ ]:
## Step 5 Submission

In [ ]:
submission.head(10)

   id  Class_1  Class_2  Class_3  ...  Class_6  Class_7  Class_8  Class_9
0   1        1        0        0  ...        0        0        0        0
1   2        1        0        0  ...        0        0        0        0
2   3        1        0        0  ...        0        0        0        0
3   4        1        0        0  ...        0        0        0        0
4   5        1        0        0  ...        0        0        0        0
5   6        1        0        0  ...        0        0        0        0
6   7        1        0        0  ...        0        0        0        0
7   8        1        0        0  ...        0        0        0        0
8   9        1        0        0  ...        0        0        0        0
9  10        1        0        0  ...        0        0        0        0

[10 rows x 10 columns]

In [ ]:
test_pred

array([[0.00374647, 0.33096359, 0.19474545, ..., 0.01957466, 0.01409131,
        0.00864871],
       [0.03085835, 0.16021683, 0.06807047, ..., 0.01553181, 0.09677017,
        0.01713174],
       [0.00192989, 0.00522331, 0.00344205, ..., 0.00241414, 0.01906633,
        0.00307871],
       ...,
       [0.00547298, 0.63395259, 0.14978793, ..., 0.01862916, 0.02792321,
        0.01478242],
       [0.00237083, 0.462746  , 0.04389554, ..., 0.00424378, 0.00864436,
        0.00542544],
       [0.00529692, 0.36470144, 0.45776956, ..., 0.05950797, 0.0180181 ,
        0.00957988]])

In [ ]:
submission.iloc[:,1:] = test_pred
submission.to_csv('otto_prediction_v4.csv', index = False)

In [ ]:
submission.head()

   id   Class_1   Class_2   Class_3  ...   Class_6   Class_7   Class_8   Class_9
0   1  0.003746  0.330964  0.194745  ...  0.025109  0.019575  0.014091  0.008649
1   2  0.030858  0.160217  0.068070  ...  0.583763  0.015532  0.096770  0.017132
2   3  0.001930  0.005223  0.003442  ...  0.961789  0.002414  0.019066  0.003079
3   4  0.008014  0.484241  0.346338  ...  0.027312  0.008150  0.017926  0.045048
4   5  0.051271  0.016261  0.010440  ...  0.024631  0.013343  0.236576  0.639655

[5 rows x 10 columns]